@model IEnumerable<GamePicker.Models.Game>

@{
    ViewData["Title"] = "GameDisplay";
}

<h1>Generated Games</h1>

<button onClick="window.location.reload();">Refresh Listings</button>




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
}
    </tbody>
</table>
