@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Game Picker</h1>
    <p>Randomly generate 3 suggestions of game to pick from a list of supplied games!.</p>
</div>
