@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Logging in, as it is right now, only matters for the admin account. This will change when I add steam integration.
</p>

<p>
    <b>When steam integration is implemented: </b><br />
    All user data is kept confidential. The only thing Game Picker utilizes is your steam ID and games list, as it appears on your profile.
</p>
