@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>When steam integration is implemented:

    All user data is kept confidential. The only thing Game Picker utilizes is your steam ID and games list, as it appears on your profile.
</p>
